<div class="row">
  <div class="col-md-6">
    <button
      type="button"
      class="btn btn-primary d-flex align-items-center"
      (click)="toggleForm()">
      <i class="material-icons">add_box</i>
      &nbsp;
      New Transaction
    </button>
  </div>
  <div class="col-md-6 text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-outline-secondary d-flex align-items-center"
      (click)="generateTransactions()">
      <i class="material-icons">add_box</i>
      &nbsp;
      Generate
    </button>
    <button
      type="button"
      class="btn btn-outline-danger d-flex align-items-center"
      (click)="removeAllTransactions()">
      <i class="material-icons">delete</i>
      &nbsp;
      Clear
    </button>
    </div>
  </div>
</div>
