<div class="tl">

  <!-- Header -->
  <div class="tl__r header">
    <div class="tl__r__c box"><input type="checkbox"></div>
    <div class="tl__r__c acc">Account(ID)</div>
    <div class="tl__r__c payee">Payee(ID)</div>
    <div class="tl__r__c cat">Category(ID)</div>
    <div class="tl__r__c desc">Description</div>
    <div class="tl__r__c out">Outflow</div>
    <div class="tl__r__c in">Inflow</div>
    <div class="tl__r__c stt">Status</div>
  </div>

  <ng-content></ng-content>

  <!-- Body -->
  <div class="tl__r body" *ngFor="let item of transactionsList">
    <div class="tl__r__c box"><input type="checkbox"></div>
    <div class="tl__r__c acc">
      {{ transactionServices.displayAccount(item.accountID) }}
    </div>
    <div class="tl__r__c payee">
      {{ transactionServices.displayPayee(item.payeeID) }}
    </div>
    <div class="tl__r__c cat">
      {{ item.catID ? transactionServices.displayCategory(item.catID) : '--' }}
      </div>
    <div class="tl__r__c desc">{{ item.description }}</div>
    <div class="tl__r__c out text-danger">
      {{ item.outflow ? (item.outflow | currency:'EUR':'symbol') : ''}}
    </div>
    <div class="tl__r__c in text-success">
      {{ item.inflow ? (item.inflow | currency:'EUR':'symbol') : ''}}
    </div>
    <div class="tl__r__c stt" [ngClass]="{'text-success': item.clear}">
      <i class="material-icons">done_all</i>
    </div>
  </div>
</div>
