<div class="form-container" [style.right]="isFormVisible ? '0' : '-100%'">
  <h3>
    <i class="material-icons">add_box</i>
    Add a New Transaction
  </h3>
  <br>
  <form [formGroup]="formData" novalidate>
    <!-- Description -->
    <div class="form-group">
      <label>Description</label>
      <input
        formControlName="description"
        type="text"
        class="form-control"
        [ngClass]="{
          'valid-input': description.valid && (description.touched || description.dirty),
          'invalid-input': description.invalid && (description.touched || description.dirty)
        }"
        required>
      <div *ngIf="description.errors && (description.touched || description.dirty)">
        <small class="text-danger" *ngIf="description.errors.required">
          Description is required.
        </small>
      </div>
    </div>
    <!-- Amount -->
    <div class="form-group">
      <label>Amount</label>
      <div class="input-group">
        <!-- Type -->
        <div class="input-group-prepend">
          <label class="switch">
            <input
              type="checkbox"
              formControlName="income"
            >
            <span class="slider"></span>
          </label>
        </div>
        <input
          type="number"
          class="form-control"
          [ngClass]="{
            'valid-input': amount.valid && (amount.touched || amount.dirty),
            'invalid-input': amount.invalid && (amount.touched || amount.dirty)
          }"
          formControlName="amount"
          required>
      </div>
      <div *ngIf="amount.errors && (amount.touched || amount.dirty)">
        <small class="text-danger" *ngIf="amount.errors.required">
          Amount is required.
        </small>
        <small class="text-danger" *ngIf="amount.errors.invalidAmount">
          Amount cannot be zero or a nagative number.
        </small>
      </div>
    </div>
    <!-- Account -->
    <div class="form-group">
      <label>Account</label>
      <select
        formControlName="accountID"
        class="form-control"
        [ngClass]="{
          'valid-input': accountID.valid && (accountID.touched || accountID.dirty),
          'invalid-input': accountID.invalid && (accountID.touched || accountID.dirty)
        }"
        required>
        <option *ngFor="let acc of accounts" [value]="acc.id">
          {{ acc.title }}
        </option>
      </select>
      <div *ngIf="accountID.errors && (accountID.touched || accountID.dirty)">
        <small class="text-danger" *ngIf="accountID.errors.required">
          Account is required.
        </small>
      </div>
    </div>
    <!-- Payee -->
    <div class="form-group">
      <label>Payee</label>
      <select
        formControlName="payeeID"
        class="form-control"
        [ngClass]="{
          'valid-input': payeeID.valid && (payeeID.touched || payeeID.dirty),
          'invalid-input': payeeID.invalid && (payeeID.touched || payeeID.dirty)
        }"
        required>
        <option *ngFor="let payee of payees" [value]="payee.id">
          {{ payee.title }}
        </option>
      </select>
      <div *ngIf="payeeID.errors && (payeeID.touched || payeeID.dirty)">
        <small class="text-danger" *ngIf="payeeID.errors.required">
          Payee is required.
        </small>
      </div>
    </div>
    <!-- Category -->
    <div class="form-group">
      <label>Category</label>
      <select
        formControlName="catID"
        class="form-control"
        [ngClass]="{
          'valid-input': catID.valid && (catID.touched || catID.dirty),
          'invalid-input': catID.invalid && (catID.touched || catID.dirty)
        }"
        required>
        <option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.label }}
        </option>
      </select>
      <div *ngIf="catID.errors && (catID.touched || catID.dirty)">
        <small class="text-danger" *ngIf="catID.errors.required">
          Payee is required.
        </small>
      </div>
    </div>
    <br>
    <!-- Submit Buttons -->
    <div class="form-row">
      <div class="col-md-4">
        <button
          [disabled]="!formData.valid"
          (click)="submitAndClose()"
          type="button"
          class="btn btn-block btn-success">
          Save Transaction
        </button>
      </div>
      <div class="col-md-4">
        <button
          [disabled]="!formData.valid"
          (click)="submitData()"
          type="button"
          class="btn btn-block btn-outline-success">
          Save &amp; Add Another
        </button>
      </div>
      <div class="col-md-4">
        <button
          (click)="closeForm()"
          type="button"
          class="btn btn-block btn-outline-danger">
          Cancel
        </button>
      </div>
    </div>
  </form>
  <br>
  <pre>Form Value: {{ formData.value | json }}</pre>
</div>

