<div class="row">
  <div class="col-md-6">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="toggleForm()">
      Add A New Transaction
    </button>
  </div>
  <div class="col-md-6 text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light">Left</button>
      <button type="button" class="btn btn-light">Middle</button>
      <button type="button" class="btn btn-light">Right</button>
    </div>
  </div>
</div>
