<form [formGroup]="formData" novalidate>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Description</label>
      <input
        formControlName="description"
        type="text"
        class="form-control"
        required>
    </div>
    <div class="form-group col-md-1">
      <label>Amount</label>
      <input
        formControlName="amount"
        type="number"
        class="form-control"
        required>
    </div>
    <div class="form-group col-md-3">
      <label>Payee</label>
      <select
        formControlName="payeeID"
        class="form-control"
        required>
        <option *ngFor="let payee of payees" [value]="payee.id">
          {{ payee.title }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label>Category</label>
      <select
        formControlName="catID"
        class="form-control"
        required>
        <option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.label }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>Type</label>
      <select
        formControlName="type"
        class="form-control"
        required>
        <option value="inflow">Inflow</option>
        <option value="outflow">Outflow</option>
      </select>
    </div>
  </div>
  <div class="form-row justify-content-end">
    <div class="col-md-2 text-right">
      <button
        (click)="submitData()"
        type="button"
        class="btn btn-success">
      Save Transaction
      </button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-outline-danger">
      Cancel
      </button>
    </div>
  </div>
</form>
