<h1 class="d-flex align-items-center">
  <i class="material-icons md-36">assignment</i> Transactions
</h1>

<br>

<transaction-controls
  [isFormVisible]="formVisible"
  (toggle)="onToggleForm($event)"
  (generate)="onGenerateTransactions($event)"
  (clear)="onClearTransactions($event)">
</transaction-controls>

<br>

<transaction-list (markedClear)="onMarkedClear($event)">
  <transaction-form-inline
    [isFormVisible]="formVisible"
    (submitted)="onFormSubmitted($event)"
    (cancelled)="onCancelled($event)">
  </transaction-form-inline>
</transaction-list>
