<div class="row">
  <div class="col-md-6">
    <h1 class="d-flex align-items-center">
      <i class="material-icons md-36">assignment</i> Transactions
    </h1>
  </div>
  <div class="col-md-6 text-right">
    <div class="net-worth-badge">
      <div class="net-worth-badge__inner">
        <h4>Net Worth</h4>
        <p [style.color]="netWorth < 0 ? 'red': 'lightgreen'">
          {{ netWorth | currency:'EUR':'symbol' }}
        </p>
      </div>
    </div>
  </div>
</div>

<br>

<transaction-controls></transaction-controls>

<br>

<transaction-list>
  <transaction-form-inline></transaction-form-inline>
</transaction-list>
